@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'price-card.scss';

* {
     box-sizing: border-box;
}

html {
     font-family: "Montserrat", sans-serif;
     color: white;
     font-size: 15px;
}

body {
     width: 1440px;
     margin: 0 auto;
   }

.price-tables {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #141B1C;
}